.card__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    display: flex;
    flex-direction: column;
    border: 0.5px solid $border_card_color;
    border-radius: $border_radius;
    width: 23%;
    min-width: 290px;
    margin-bottom: 30px;
    transition: box-shadow .3s ease-out;
}

.card__item:hover {
    box-shadow: 7px 7px 5px 0px $shadow_hover_box;
}

.card__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background: rgb(242, 242, 242);
    border-top-right-radius: $border_radius;
    border-top-left-radius: $border_radius;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.card__item-info{
    padding: 24px 28px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    .button {
        margin-top: auto;
    }

}


.card__item_equipment{
    font-family: $main_fonts;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.item__rent{
        font-family: $main_fonts;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2px;
        &:has(.price-card) {
                grid-template-columns: repeat(2, 1fr);
            }

    &_time {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    &_price {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin: auto 0 0 0;
        .price-card {
            font-size: 22px;
            font-weight: 700;
        }
    }
}


/*Для карточки товара в аренду*/
.equipment{
    &__titel_panel {
        padding:30px 40px;
        border-radius: $border_radius;
        background-image: url("../img/page_head_3.webp");
        background-size: cover;
    }
}

@media (max-width: 1280px) {
    .card__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 20px;
        justify-items: center;
    }
}

@media (max-width: 1024px) {
    .card__wrapper {
        grid-template-columns: repeat(3 , 1fr);


    .card__item {
        &-img {
        height: auto;
    }

        &-info {
        margin: 0 auto;
    }
    .item__rent{
        grid-template-columns: repeat(2, 1fr);
    }
        }

    }
}

@media (max-width: 768px){
    .card__wrapper{
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 0;
        .card__item-info{
            padding: 10px;
        }
    }
}

@media (max-width: 480px) {
    .card__item {
        font-size: 14px;
        width: 90%;
        min-width: unset;

        * {
            font-size: 14px;
        }

        button, .button {
            padding: 10px;
        }
    }
}
