.card__wrapper{
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
}

.card__item{
    display: flex;
    flex-direction: column;
    border: 0.5px solid $border_card_color;
    border-radius: $border_radius;
    width: 335px;
    transition: box-shadow .3s ease-out;
}

.card__item:hover{
    box-shadow: 7px 7px 5px 0px $shadow_hover_box;
}

.card__item-img{
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    background: rgb(242, 242, 242);
    border-top-right-radius: $border_radius;
    border-top-left-radius: $border_radius;
}
.card__item-img img{
    width: 100%;
}
.card__item-info{
    padding: 24px 42px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item__rent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2px;
}

.card__item_equipment{
    font-family: $main_fonts;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.item__rent{
    font-family: $main_fonts;
    &_time{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
    &_price{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}

@media (max-width: 1240px) {
    .card__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 20px;
        justify-items: center;

        .card__item{
            width: 320px;
        }
    }
}

@media (max-width: 1024px) {
    .card__wrapper {
        grid-template-columns: repeat(2, 1fr);


    .card__item {
        width: 90%;

        &-img {
        height: auto;
    }

        &-info {
        margin: 0 auto;
    }
    .item__rent{
        grid-template-columns: repeat(2, 1fr);
    }
        }

    }


}
