.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

@media (max-width:990px) {

    .menu_nospace{
        white-space: nowrap;
    }

}

@media (max-width:768px) {

    .footer__wrapper{
        flex-direction: column;
    }
}
