.footer__wrapper{
    display: flex;
    gap: $space_20;
    justify-content: space-between;
    padding: $section_space 0;
    border-top: 2px solid $about_bg_color;
}

@media (max-width:990px) {

    .menu_nospace{
        white-space: nowrap;
    }

}

@media (max-width:768px) {

    .footer__wrapper{
        flex-direction: column;
    }
}
