a:has(.logo) {
    flex-grow: 1;
}

.header{
    position: sticky;
    margin-bottom: 30px;
    top: 0;
    z-index: 20;
    background-color: white;

    &__wrapper {
        display: flex;
        gap: $space_20;
        align-items: center;
        justify-content: space-between;
        padding: $space_20 0;

    }

        .header__menu {
            display: flex;
            gap: calc(55px - 15px);
        }
}

@media (max-width: 1240px) {
    .logo{
        max-width: 270px;
    }
}

@media (max-width: 860px){
    .header{
        &__wrapper{
            flex-direction: column;
            gap: $space_20;
        }
        &__logo{
            max-width: 320px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__wrapper{
            flex-direction: row;
            align-items: center;
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__wrapper {
            flex-direction: column;
        }
        &__logo {
            max-width: 250px;
        }
    }
}
