.header{
    margin-bottom: 30px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        background-color: #e7eeeee3;
    }


}

@media (max-width: 860px){
    .header{
        &__wrapper{
            flex-direction: column;
            gap: 20px;
        }
        &__logo{
            max-width: 320px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__wrapper{
            flex-direction: row;
            align-items: center;
            .header__menu{
                display: none;
            }
        }
        .menu {
            &__mobile-button{
                display: inline-block;
            }
        }
    }
}
