/*Общая навигация для меню*/
.navigation{
display: flex;
justify-content: space-between;
flex-grow: 1;
    .menu{
        gap: $space_20;
        &__items {

                .item {
                    color: $text_color;
                    font-family: $btn_fonts;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: $btn_lineHeight-text;
                    padding: 8px 16px;
                    display: inline-block;

                    &-active {
                        color: $text_color-active;
                    }

                    &:hover {
                        color: $text_color-active;
                    }
                }
            }
            &_sub{
                max-width: 390px;
            }
                &__call {
                    font-family: $main_fonts;
                    font-size: 28px;
                    line-height: 34px;
                    font-weight: 700;
                    text-align: right;
                    white-space: nowrap;
                }

        &__mobile-button {
                display: none;
            }
    }

}
.header__navigation {
align-items: center;
    .menu {
        &_main{
            display: flex;
            justify-content: space-around;
        }
        &_sub{
            display: none;
        }

    }

}



@media (max-width: 1240px) {
    .navigation{
        .menu{
            gap: 0;
            &_sub{
                max-width: 270px;
            }
            &__call{
                font-size: 20px;
            }
        }
    }
}

@media (max-width:1024px) {
.navigation{
    .menu{
        &__items {
            .item {
                font-size: 16px;
                 }
         }
        }
    }
}

@media (max-width:990px) {
    .menu__call {
            display: none;
        }
}

@media (max-width: 768px) {
    .header__navigation{
        justify-content: flex-end;
        .menu{
            display: none;
        }
        .menu__mobile-button{
            display: block;
        }
    }

    .footer__navigation{
        flex-direction: column;
    }
}


.side_menue_wrapper{
    position: fixed;
    width: 0;
    height: 0;


    &.active {
        width: 100%;
        height: 100%;
    }

    .shadow {
        background-color: #00000090;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 20;
        position: absolute;
        opacity: 0;
        transition: $main_transition;
    }

    &.active .shadow{
        opacity: 1;
    }

    .side_menue {
        background-color: white;
        width: 100%;
        max-width: 420px;
        height: 100%;
        position: absolute;
        left:-500px;
        top:0;
        z-index: 21;
        transition: $main_transition;
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

    }

    &.active .side_menue{
        left:0;
    }

}

