.header__menu{
    display: flex;
    gap: calc(55px - 15px);
}


.menu {

    &__items {

        .item {
            color: $text_color;
            font-family: $btn_fonts;
            font-size: 18px;
            font-weight: 400;
            line-height: $btn_lineHeight-text;
            padding: 8px 16px;
            display: inline-block;

            &-active{
                color: $text_color-active;
            }

            &:hover {
                color: $text_color-active;
            }
        }
    }

    &__mobile-button{
        display: none;
    }
    &__call{
        font-family: "Lato";
        font-size: 28px;
        line-height: 34px;
        font-weight: 700;
    }
}

@media (max-width: 1240px){
    .menu__call{
        font-size: 22px;
    }
}

@media (max-width:1024px) {
    .logo {
        max-width: 240px;
    }

          .menu {
              gap: 10px;

              &__call {
                  font-size: 18px;
              }

              &__items{

                .item{
                    font-size: 16px;
                }
              }
          }
}

@media (max-width:990px){
    .menu__call{
            display: none;
    }

}



.side_menue_wrapper{
    position: fixed;
    width: 0;
    height: 0;


    &.active {
        width: 100%;
        height: 100%;
    }

    .shadow {
        background-color: #00000090;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 20;
        position: absolute;
        opacity: 0;
        transition: $main_transition;
    }

    &.active .shadow{
        opacity: 1;
    }

    .side_menue {
        background-color: white;
        width: 100%;
        max-width: 420px;
        height: 100%;
        position: absolute;
        left:-500px;
        top:0;
        z-index: 21;
        transition: $main_transition;
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

    }

    &.active .side_menue{
        left:0;
    }

}

