$main_color: #325ea5;
$hover_color: #273772;
$sub_color: #5aa495;
$black_color: #333;

$gray_bg_color:#F5F5F5;
$gray_border_color:#B4C5C5;

$border_card_color: rgb(210, 209, 209);
$border_radius: 20px;

$main_btn_color:#003075;
$primary_btn_color:#DA0010;
/*Стили текста*/
$text_color: #161615;
$text_color-hover: #DA0010;
$text_color-active: #129BDB;

$text_font-size: 18px;

$text_fs_subtitle: 34px;

$btn_lineHeight-text: 22px;



$main_transition: all .5s ease;

/*Шрифты*/
$main_fonts:'Lato Regular', sans-serif;
$main_title_fonts:'Lato Bold', sans-serif;
$btn_fonts: 'Myriad Pro Regular', sans-serif;

/*Кнопки*/
$border_rad: 24px;

$section_space: 30px;
$conteiner_max_w: 1480px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
