@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";
@import "header";
@import "menues";
@import "equipment_rent";
@import "advantages";
@import "equipment-sale";
@import "about";
@import "footer";
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
}

body{
    font-family: $main_fonts;
    font-size: 16px;
    color: $text_color;
}

section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
    margin-bottom: $section_space_bottom;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
    padding: 0 20px;
}

// Схема с сайдбаром
// @import "sidebar-schem";


// Стили хлебных крошек
.breadcrumbs_section{
    padding: 0;
}

// Боковое беню
// @import "menues";


// Стили



.title{
    font-family: $main_fonts;
    font-size: $text_fs_h2;
    line-height: 41px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

/*Заголовок карточки товара в аренду*/
.titel_panel{
    font-size: 52px;
    line-height: 52px;
    margin: 0;
    max-width: 715px;
}
.main{
    &__areas{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    &__title{
    font-size: 52px;
    line-height: 52px;
    margin: 0;
    max-width: 370px;
    }

    &__text{
    font-family: $btn_fonts;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    max-width: 573px;
    }

    &__areas__img-wrapper{
        position: relative;
    }
}

.main__areas__info{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}



.main__areas__img-wrapper::before{
    position: absolute;
    content: url("../img/card-photo/elips-small.svg");
    max-width: 130px;
    height: 130px;
    right: -10px;
    bottom: 11px;
    box-shadow: -7px -5px 0 5px white;
    border-radius: 50%;
    z-index: 2;
}

.areas__img{
    width: 100%;
    position: relative;
    z-index: 1;
}

/*Мобильная верстка*/

@media (max-width:1240px) {
    .main{
        &__title{
            font-size: 34px;
        }
        &__text {
            font-size: 18px;
        }
        &__areas__img-wrapper::before {
                display: none;
            }
    }
}

@media (max-width:990px) {
    .main__title{
        max-width: 640px;
        font-size: 36px;
        line-height: 40px;
    }
    .main__text{
        font-size: 18px;

    }

    .areas__img{
        width: 100%;;
    }
}

@media (max-width:860px) {
    .title{
        font-size: 24px;
    }
    .main__areas{
        display: block;
    }
    .main{
        &__areas__info{
            padding: 0;
            align-items: center;
        }
        &__title{
            font-size: 28px;
            text-align: center;
        }
        &__text{
            text-align: center;
        }
    }
    .main__areas__img-wrapper{
        display: none;
    }
}

@media (max-width: 640px){
    .container {
        padding: 0 10px;
    }
}


@media (max-width: 480px) {
    .main__areas__info{
        gap: 15px;

        .main__text {
            font-size: 16px;
        }
    }
}
