button,
.button {
    max-width: 250px;
    display: inline-block;
    padding: 14px 30px;
    text-align: center;
    font-family: $btn_fonts;
    font-size: $text_font-size;
    background-color: $main_btn_color;
    color:white;
    border-radius: $border_rad;

    &__primary{
        background-color: $primary_btn_color;
    }
    &:hover {
        background-color: $text_color-active;
    }
}

.button-white {
    background-color: white;
    color: $main_color;
    border: 1px solid $main_color;
    text-decoration: none;

    &:hover{
        color: white;
        text-decoration: none;
    }
}
